# Virtual environments
tf_env/
venv/
.venv/
env/

# Datasets
**/Dataset/
**/dataset/
**/datasets/

# Python cache
__pycache__/
*.py[cod]

# Jupyter
.ipynb_checkpoints/

# VS Code
.vscode/

# OS files
.DS_Store
Thumbs.db